.chanpagne
  .button-radio
    %input#chanpagne1.check_box{type: "checkbox"}/
    %label.label{for: "chanpagne1"} chanpagne
  .chanpagne__number number
.chanpagne
  .button-radio
    %input#chanpagne2.check_box{type: "checkbox"}/
    %label.label{for: "chanpagne2"} chanpagne
  .chanpagne__number number
.chanpagne
  .button-radio
    %input#chanpagne3.check_box{type: "checkbox"}/
    %label.label{for: "chanpagne3"} chanpagne
  .chanpagne__number number
.chanpagne
  .button-radio
    %input#chanpagne4.check_box{type: "checkbox"}/
    %label.label{for: "chanpagne4"} chanpagne
  .chanpagne__number number
