.staff
  .staff-name.staff__about
    = staff.name
  .staff-assessment.staff__about
    = staff.assessment
  .staff-position.staff__about
    = staff.position
  .staff-birthday.staff__about
    = staff.birthday
