.contents
  .side-bar
    .side-bar__header
      %h1 sample
    .side-bar__menu
      %p sample
      %p sample
      %p sample
      %p sample
  .right-contents
    .right-contents__header
      %h1 sample
    .right-contents__main
      %h2 staff name
      .name-box
      %h2 chanpagne
      .chanpagne-select
        #chanpagne-list
          = render 'chanpagne'
      %h2 together
      .name-box
      %h2 option
      .name-box
      %h2 P合計金額
      .name-box
