.contents
  .side-bar
    .side-bar__header
      %h1 sample
    .side-bar__menu
      %p sample
      %p sample
      %p sample
      %p sample
  .right-contents
    .right-contents__header
      %h1 sample
    .right-contents__main
      %h2 staff name
      .name-box
      %h2 chanpagne
      .chanpagne-select
        #chanpagne-list
          .chanpagne
            .button-radio
              %input#chanpagne1.check_box{type: "checkbox"}/
              %label.label{for: "chanpagne1"} chanpagne
            .chanpagne__number number
          .chanpagne
            .button-radio
              %input#chanpagne2.check_box{type: "checkbox"}/
              %label.label{for: "chanpagne2"} chanpagne
            .chanpagne__number number
          .chanpagne
            .button-radio
              %input#chanpagne3.check_box{type: "checkbox"}/
              %label.label{for: "chanpagne3"} chanpagne
            .chanpagne__number number
          .chanpagne
            .button-radio
              %input#chanpagne4.check_box{type: "checkbox"}/
              %label.label{for: "chanpagne4"} chanpagne
            .chanpagne__number number
      %h2 together
      .name-box
      %h2 option
      .name-box
      %h2 P合計金額
      .name-box
