.contents
  = render 'side-bar'
  .right-contents
    .right-contents__header
      %h1 staff list
    .right-contents__main.right-contents__main_staff
      .staff-header
        %p 名前
        %p 自己査定
        %p 役職
        %p 誕生日
      #staffs-list
        .staff
          .staff-name.staff__about
          .staff-assessment.staff__about
          .staff-position.staff__about
          .staff-birthday.staff__about
