.contents
  = render 'side-bar'
  .right-contents
    .right-contents__header
      %h1 staff list
      = link_to "追加", new_user_staff_path(user_id: current_user.id)
    .right-contents__main.right-contents__main_staff
      .staff-header
        %p 名前
        %p 自己査定
        %p 役職
        %p 誕生日
      #staffs-list
        = render @staffs

