.contents
  = render 'staffs/side-bar'
  .right-contents
    .right-contents__header
      %h1 sample
    .right-contents__main
      .name-box
        %label{for: "staff"} スタッフを選択してください：
        %select#staff{name: "staff"}
          %option{selected: "selected", value: "exaple"} 選択してください
          - @staffs.each do |staff|
            %option{value: "#{staff.id}"} #{staff.name}
      %h2 chanpagne
      .chanpagne-select
        #chanpagne-list
          = render 'staffs/chanpagne'
      %h2 together
      .name-box
      %h2 option
      .name-box
      %h2 P合計金額
      .name-box
